<section>
  <img src="images/banner.png" alt="Banner" />

  <div class="main-content">
    <h1 class="mt-2">Découvrir des cours de qualité</h1>
    <div class="btn btn-sm btn-secondary mx-3 mt-2">Cours</div>
    <div class="btn btn-sm btn-primary mt-2">Exemples</div>
  </div>
</section>

<section class="courses">
  <h1 class="text-center">Tous les cours</h1>
  <div class="container">
    <div class="row mt-3">
      @for (course of courses; track $index) {
      <app-courses [course]="course" />
      } @empty {
      <div class="card">
        <div class="card-body text-center">Aucun cours trouves</div>
      </div>
      }
    </div>
  </div>
</section>
