.box {
  background-color: #fff;
  padding: 2vh 4vh;
  height: 40vh;
  .course-image {
    height: 25vh;
    width: 100%;
    background-color: #effeff;
    img {
      height: 90%;
      width: 100%;
      object-fit: cover;
    }
  }
  p {
    font-size: 0.75rem;
  }
}
